frontend/node_modules/
**/.cache/
.env

# Python cache/compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Build & packaging
*.egg-info/
dist/
build/

# OS junk
.DS_Store
Thumbs.db
